.sudoku-grid { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 2px 1fr 1fr 1fr 2px 1fr 1fr 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 2px; 
    
}

.sudoku-grid-row {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 2px 1fr 1fr 1fr 2px 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 2px;
    grid-row-gap: 0px; 
}