@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 80px auto auto; 
  font-family: 'Montserrat', sans-serif;
}

main {
  display: grid; 
  grid-template-columns: 400px; 
  grid-template-rows: 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  justify-self: center;
}

.footer {
  margin-top: 30px;
}